<%- include('./base/header.ejs')%>
    <div class="container">
        <div class="alert bg-success my-3">
            <h4 class="text-center text-white">Edit Student</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="/edit/student/<%= student._id %>" method="post">
                    <div class="mt-1">
                        <label class="form-label">Roll No:</label>
                        <input type="text" class="form-control" placeholder="Enter Roll No:" name="rollNo"
                            value="<%= student.rollNo%>" />
                    </div>
                    <div class="mt-1">
                        <label class="form-label">Student Name:</label>
                        <input type="text" class="form-control" placeholder="Enter Student Name:" name="studentName" value="<%= student.studentName%>"/>
                    </div>
                    <div class="mt-1">
                        <label class="form-label">Father Name:</label>
                        <input type="text" class="form-control" placeholder="Enter Father Name:" name="fatherName" value="<%=student.fatherName%>"/>
                    </div>
                    <div class="mt-1">
                        <label class="form-label">Aadhar Card No:</label>
                        <input type="text" class="form-control" placeholder="Enter Aadhar Card No:"
                            name="aadharCardNo" value="<%=student.aadharCardNo%>"/>
                    </div>
                    <div class="mt-1">
                        <label class="form-label">Mobile No:</label>
                        <input type="text" class="form-control" placeholder="Enter Mobile No:" name="mobileNo" value="<%=student.mobileNo%>"/>
                    </div>
                    <div class="text-center mt-2">
                        <input type="submit" class="btn btn-success" value="Edit Student">
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
    </div>
    <%- include('./base/footer.ejs')%>