<%- include('./base/header.ejs') %>

    <div class="container">
        <div class="alert bg-success my-3">
            <h4 class="text-center text-white">Edit Student</h4>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col"></div>

            <div class="col">

                <form action="/edit/student/<%= student._id %>" method="post">

                    <!-- Roll No -->
                    <div class="mt-2">
                        <label class="form-label">
                            Roll No <span class="text-danger">*</span>
                        </label>

                        <input type="text" class="form-control" placeholder="Enter Roll No" name="rollNo"
                            value="<%= oldData.rollNo || student.rollNo %>">

                        <small class="text-danger">
                            <%= errors.rollNo ? errors.rollNo.msg : "" %>
                        </small>
                    </div>

                    <!-- Student Name -->
                    <div class="mt-2">
                        <label class="form-label">
                            Student Name <span class="text-danger">*</span>
                        </label>

                        <input type="text" class="form-control" placeholder="Enter Student Name" name="studentName"
                            value="<%= oldData.studentName || student.studentName %>">

                        <small class="text-danger">
                            <%= errors.studentName ? errors.studentName.msg : "" %>
                        </small>
                    </div>

                    <!-- Father Name -->
                    <div class="mt-2">
                        <label class="form-label">
                            Father Name <span class="text-danger">*</span>
                        </label>

                        <input type="text" class="form-control" placeholder="Enter Father Name" name="fatherName"
                            value="<%= oldData.fatherName || student.fatherName %>">

                        <small class="text-danger">
                            <%= errors.fatherName ? errors.fatherName.msg : "" %>
                        </small>
                    </div>

                    <!-- Aadhaar -->
                    <div class="mt-2">
                        <label class="form-label">
                            Aadhaar Card No <span class="text-danger">*</span>
                        </label>

                        <input type="text" class="form-control" placeholder="Enter Aadhaar Card No" name="aadharCardNo"
                            value="<%= oldData.aadharCardNo || student.aadharCardNo %>">

                        <small class="text-danger">
                            <%= errors.aadharCardNo ? errors.aadharCardNo.msg : "" %>
                        </small>
                    </div>

                    <!-- Mobile -->
                    <div class="mt-2">
                        <label class="form-label">
                            Mobile No <span class="text-danger">*</span>
                        </label>

                        <input type="text" class="form-control" placeholder="Enter Mobile No" name="mobileNo"
                            value="<%= oldData.mobileNo || student.mobileNo %>">

                        <small class="text-danger">
                            <%= errors.mobileNo ? errors.mobileNo.msg : "" %>
                        </small>
                    </div>

                    <div class="text-center mt-4">
                        <input type="submit" class="btn btn-success" value="Update Student">
                        <a href="/students" class="btn btn-primary">Cancel</a>
                    </div>

                </form>

            </div>

            <div class="col"></div>

        </div>
    </div>

    <%- include('./base/footer.ejs') %>